#my-id.uk-offcanvas
    .uk-offcanvas-bar
        ul.uk-nav.uk-nav-offcanvas.uk-nav-parent-icon(data-uk-nav='')
            li.uk-active
                a(href='/') Home
            li
                a(href='game') Game
            li
                a(href='signin') Sign In
            li
                a(href='signup') Sign Up
            li
                a(href='contact') Contact
.black.uk-contrast.uk-block-large.wrapper.uk-text-center
    h1.uk-heading-large Ah! Zombies
    div
        a(href='') Home
         |  |
        a(href='') Game
        |         |
        a(href='') Contact